.site-download-icons.about-icon {
    float: left;
    width: 100%;
    margin: 50px 0 0 0;
    height: 190px;
  }
  
  .site-store-icons, .site-download-icons {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    clear: both;
    text-align: center;
    position: relative;
    height: 0;
    z-index: 10;
  }
  
  .site-download-icons.about-icon a {
    border: none;
    margin-right: 30px;
    margin-left: 0;
    border-radius: 62.5rem;
    padding: 1.75rem 2.75rem 1.75rem 3.625rem;
    float: left;
    border: #9b28a8 solid 2px;
  }
  
  .site-download-icons.about-icon figure {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      padding-left: 1rem;
      line-height: 5.625rem;
  }
  
  
  
  figure {
    margin: 0;
  }
  
  
  .site-download-icons i.fa, .site-download-icons span, .site-download-icons img {
    line-height: 5.625rem;
    position: relative;
    left: 1.25rem;
    top: 0.125rem;
  }
  
  .site-store-icons i.fa, .site-download-icons i.fa, .site-store-icons span, .site-download-icons span, .site-store-icons img, .site-download-icons img {
    color: #59687c;
    font-family: FontAwesome, serif;
    font-size: 2.9375rem;
    display: inline-block;
    font-weight: 400;
    line-height: 5.625rem;
    vertical-align: middle;
  }
  
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .site-download-icons i.fa, .site-download-icons span, .site-download-icons img {
    line-height: 5.625rem;
    position: relative;
    left: 1.25rem;
    top: 0.125rem;
  }
  
  .site-store-icons i.fa, .site-download-icons i.fa, .site-store-icons span, .site-download-icons span, .site-store-icons img, .site-download-icons img {
    color: #59687c;
    font-family: FontAwesome, serif;
    font-size: 2.9375rem;
    display: inline-block;
    font-weight: 400;
    line-height: 5.625rem;
    vertical-align: middle;
  }
  
  .site-store-icons h6, .site-download-icons h6 {
    color: #59687c;
    font-weight: 400;
    line-height: 0.875rem;
    font-size: 13px;
    margin: 0;
    width: 100%;
    text-align: left;
    display: block;
    padding: 0 0 0 1.25rem;
  }
  
  .tupodibutonad h6 {
    color: #59687c;
    font-weight: 400;
    line-height: 0.875rem;
    font-size: 13px;
    margin: 0;
    width: 100%;
    text-align: left;
    display: block;
    padding: 0 0 0 1.25rem;
    margin-top: 2rem;
  } 
  
  .tupodibutonad h5 {
      color: #59687c;
      font-weight: 400;
      line-height: 1.375rem;
      font-size: 18px;
      margin: 0;
      width: 100%;
      text-align: left;
      display: block;
      padding: 0 0 0 1.25rem;
  }
  
  .tupodifandroid {
    float: left;
    margin-left: -2.7rem;
  }
  .site-store-icons h5, .site-download-icons h5 {
    color: #59687c;
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 18px;
    margin: 0;
    width: 100%;
    text-align: left;
    display: block;
    padding: 0 0 0 1.25rem;
  }
  
  .site-download-icons.about-icon a {
    border: none;
    margin-right: 30px;
    margin-left: 0;
    border-radius: 62.5rem;
    padding: 1.75rem 2.75rem 1.75rem 3.625rem;
    float: left;
    border: #9b28a8 solid 2px;
  }
  
  .site-about-app p {
    color: #708198;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    line-height: 2;
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
    width: 100%;
    text-align: left;
  }
  
  .marginl {
    margin-left: 3rem;
  }
  
  .site-download-icons.about-icon figure {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    padding-left: 1rem;
    line-height: 5.625rem;
  }
  
  
  .site-download-icons.about-icon a:hover {
    border: none;
  }
  .site-download-icons a:hover {
    background-color: #2177ba;
  }
  .site-store-icons a:hover, .site-download-icons a:hover {
    transition: all ease .5s;
    background: rgba(70,200,255,1);
    background: -moz-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(70,200,255,1)), color-stop(100%, rgba(129,211,126,1)));
    background: -webkit-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: -o-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: -ms-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: linear-gradient(to right, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c8ff', endColorstr='#81d37e', GradientType=1 );
    -webkit-box-shadow: 10px 10px 34px -11px rgb(0 0 0 / 75%);
    -moz-box-shadow: 10px 10px 34px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px -11px rgb(0 0 0 / 75%);
  }
  
  .app-download-icons:hover h5 {
    color: #FFFFFF;
  }
  
  .app-download-icons:hover h6 {
    color: #FFFFFF;
  }
  
  .app-download-icons:hover i.fa {
    color: #FFFFFF;
  }
  
  .tupodibutonad {
    background-color: #fff;
      border: #9b28a8 solid 2px;
      margin-right: 30px;
      margin-left: 0;
      border-radius: 62.5rem;
      width: 15rem;
      padding-left: 3.7rem;
      padding-top: -0px;
  }
  
  .tupodibutonad:hover {
    transition: all ease .5s;
    background: rgba(70,200,255,1);
    background: -moz-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(70,200,255,1)), color-stop(100%, rgba(129,211,126,1)));
    background: -webkit-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: -o-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: -ms-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: linear-gradient(to right, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c8ff', endColorstr='#81d37e', GradientType=1 );
    -webkit-box-shadow: 10px 10px 34px -11px rgb(0 0 0 / 75%);
    -moz-box-shadow: 10px 10px 34px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px -11px rgb(0 0 0 / 75%);
  }
  
  .tupodibutonad:hover h5 {
    color: #FFFFFF;
  }
  
  .tupodibutonad:hover h6 {
    color: #FFFFFF;
  }
  
  .tupodibutonad:hover i.fa {
    color: #FFFFFF;
  }
  
  .tupodibutonad:hover {
    border: 2px rgba(0,0,0,0)!important;
  }
  .tupodibutonad:hover a:hover {
    background-color: #2177ba;
  }
  
  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
  }
  
  .tupodibutonad:focus {
    transition: all ease .5s;
    background: rgba(70,200,255,1);
    background: -moz-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(70,200,255,1)), color-stop(100%, rgba(129,211,126,1)));
    background: -webkit-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: -o-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: -ms-linear-gradient(left, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    background: linear-gradient(to right, rgba(70,200,255,1) 0%, rgba(129,211,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c8ff', endColorstr='#81d37e', GradientType=1 );
    -webkit-box-shadow: 10px 10px 34px -11px rgb(0 0 0 / 75%);
    -moz-box-shadow: 10px 10px 34px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px -11px rgb(0 0 0 / 75%);
  }
  
  .tupodibutonad:focus h5 {
    color: #FFFFFF;
  }
  
  .tupodibutonad:focus h6 {
    color: #FFFFFF;
  }
  
  .tupodibutonad:focus i.fa {
    color: #FFFFFF;
  }
  
  .tupodibutonad:focus {
    border: 2px rgba(0,0,0,0)!important;
  }
  .tupodibutonad:focus a:focus {
    background-color: #2177ba;
  }






  .tupodibutonad h6 {
    color: #59687c;
    font-weight: 400;
    line-height: 0.875rem;
    font-size: 13px;
    margin: 0;
    width: 100%;
    text-align: left;
    display: block;
    padding: 0 0 0 1.25rem;
    margin-top: 2rem;
  } 
  
  .tupodibutonad h5 {
      color: #59687c;
      font-weight: 400;
      line-height: 1.375rem;
      font-size: 18px;
      margin: 0;
      width: 100%;
      text-align: left;
      display: block;
      padding: 0 0 0 1.25rem;
  }
  
  .tupodifandroid {
    float: left;
    margin-left: -2.7rem;
  }